@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: #1A1A1B;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
  * { box-sizing: border-box; }
  h1, h2, h3, h4, h5, p { margin: 0; padding: 0; }
  a { text-decoration: none; }
  .body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid white;
  }
  main {
    padding: 10px;
    width: 90%;
    max-width: 450px;
    overflow: hidden;
    background-image: linear-gradient(#BA5370, #F4E2D8);
    border-radius: 5px;
    box-shadow:
        0 0 16px 13px #C4E0E5,
        0 0 30px 16px #f0f,
        0 0 34px 19px #0ff;
  }
  .card-lists {
    
    .card-lists-slider {
      display: flex;
      transition: all 0.5s;
    }

    .card {
      flex: 1;
      background: #34495e;
      min-height: 300px;
      min-width: calc(80% - 10px);
      padding: 10px;
      border-radius: 5px;
      color: white;
      position: relative;
      margin-right: 10px;
      .question-title {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
  }

  input[type='text'] {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    background: #eceff1;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    border: 0;
    padding: 15px;
  }

  p.input-helper {
    font-size: 12px;
    color: #e74c3c;
    margin-bottom: 10px;
    text-align: right;
    i {
      display: block;
    }
  }

  button, a.btn {
    padding: 10px 25px;
    outline: 0;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background: #16a085;
    text-align: center;
    &:disabled {
      background: #dddddd !important;
    }
    &.next, &.previous {
      position: absolute;
      bottom: 15px;
    }
    &.previous {
      left: 15px;
      background: #f1c40f;
    }

    &.next {
      right: 15px;
      background: #16a085;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .form-title {
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
}